.product_menu {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.5px;
  font-size: 17px;
  font-weight: 400;
  margin: 10px;
  width: 300px;
  height: auto;
  background-color: #fff;

  .product_thumb {
    width: 300px;
    height: 300px;
  }
  .product_title {
    margin: 5px 0;
  }
  .product_price {
    padding: 5px 0;
  }
}
