body {
  font-family: "Nanum Pen Script", cursive;
  font-size: 23px;
}
a {
  color: black;
  text-decoration: none;
}
.color_wrap {
  display: flex;
  .color {
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px 3px;
    &.black {
      background-color: #000;
    }
    &.white {
      background-color: #eee;
    }
    &.naivy {
      background-color: #084182;
    }
    &.red {
      background-color: #f20511;
    }
    &.beige {
      background-color: #f0dec5;
    }
    &.brown {
      background-color: #70470a;
    }
    &.pink {
      background-color: #faa7bf;
    }
    &.green {
      background-color: #327008;
    }
    &.ivory {
      background-color: #faf8f2;
    }
    &.mint {
      background-color: #89e8cd;
    }
    &.skyblue {
      background-color: #8dc2f7;
    }
    &.deepblue {
      background-color: #175899;
    }
    &.blue {
      background-color: #1469d9;
    }
    &.wine {
      background-color: #a60707;
    }
    &.deeppink {
      background-color: #a85155;
    }
    &.mustard {
      background-color: #e3cc1e;
    }
    &.yellow {
      background-color: #faee0a;
    }
    &.camel {
      background-color: #c27325;
    }
  }
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 35px;
  color: #000;
  background-color: #fff;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  &.reverse {
    color: #fff;
    background-color: #000;
  }
}
